.createProductButtonContainer {
    text-align: center;
    padding: 2rem;
  }
  
  .createProductButton {
    padding: 12px 24px;
    background-color: #f17cad;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  
  .createProductButton:hover {
    background-color: #ff69d2;
  }
  
